
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <!--          <h4 class=" card-title">La Liste des utilisateurs</h4>-->
          <a class="btn btn-success pull-right" routerLink="/categories" >Ajouter</a>
        </div>
        <div class=" card-body">
          <table datatable [dtOptions]="dtOptions" id="datatable" class="table tablesorter">
            <thead class=" text-primary">
            <tr>
              <th>Nom</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody *ngIf="categories?.length != 0">
            <tr *ngFor="let us of categories">
              <td>{{ us.name }}</td>
              <td>
                <button (click)="deleteCategories(us.id)" class=" btn btn-danger btn-link btn-icon btn-sm btn-simple rounded-circle" style="margin-left: 2%;" type="button" ><i class=" tim-icons icon-simple-remove"></i></button>
                <button (click)="editCategories(us.id)" style="margin-left: 2% !important;" class=" btn btn-success btn-link btn-icon btn-sm btn-simple rounded-circle" type="button" ><i class=" tim-icons icon-pencil"></i></button>
              </td>
            </tr>
            <tr *ngIf="categories?.length == 0">
              <td colspan="4" class="no-data-available">No data!</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
