
<div class=" content">
  <div class=" row">















    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Ajouter Nouvel Catégories</h5></div>
        <div class=" card-body">
          <form [formGroup]="addForm">
            <div class=" row">
              <div class=" col-md-12 pr-md-1">
                <div class=" form-group" >
                  <label> Nom </label>
                    <input
                      class="form-control"
                      placeholder="Nom"
                      type="text"
                      [(ngModel)]="categoriesclass.name"
                      name="name"
                      formControlName="name"
                    />
                </div>
              </div>
            </div>





            <div class="container row">
              <div class="col-md-12 pr-md-1">

                  <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="inputGroupFile01"
                         aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>


              </div>

            </div>




            <div class=" row">
              <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="button" (click)="onUpload()" >Save</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>

