
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">La Liste des utilisateurs</h4>
          <a class="btn btn-success pull-right" routerLink="/useradd" >Ajouter</a>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table tablesorter">
              <thead class=" text-primary">
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody *ngIf="user?.length != 0">
              <tr *ngFor="let us of user">
                <td>{{ us.name }}</td>
                <td>{{ us.lastname }}</td>
                <td>{{ us.email }}</td>
                <td>
                  <button (click)="deleteUser(us.id)" class=" btn btn-danger btn-link btn-icon btn-sm btn-simple" type="button" ><i class=" tim-icons icon-simple-remove"></i></button>
                  <button (click)="editUser(us.id)" class=" btn btn-success btn-link btn-icon btn-sm btn-simple" type="button" ><i class=" tim-icons icon-pencil"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
