
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Ajouter Nouvel Utilisateur</h5></div>
        <div class=" card-body">
          <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group" >
                  <label> Nom </label>
                  <input
                    class=" form-control"
                    placeholder="Nom"
                    type="text"
                    [(ngModel)]="userclass.name"
                    name="name"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Nom is required</div>
                  </div>
                </div>
              </div>
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Prénom </label>
                  <input
                    class=" form-control"
                    placeholder="Prenom"
                    type="text"
                    [(ngModel)]="userclass.lastname"
                    name="lastname"
                    formControlName="lastname"
                    required=""
                    [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
                  />
                  <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">Prénom is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Email </label>
                  <input
                    class=" form-control"
                    placeholder="email"
                    type="email"
                    [(ngModel)]="userclass.email"
                    name="email"
                    id="email"
                    formControlName="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                  <div *ngIf="f.email.errors &&(f.email.touched || f.email.dirty)" class ="invalid-feedback">
                    <div [hidden]="!f.email.errors?.pattern">
                      <div>Invalid Email</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group formselect">
                  <label> Rôle </label>
                <select class="form-control" formControlName="role" [(ngModel)]="userclass.role" name="role"
                        [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                  <option selected value="">Choisir...</option>
                  <option value="0">Admin</option>
                  <option value="1">User</option>
                </select>
                  <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Rôle is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Password </label>
                    <input
                      class=" form-control"
                      placeholder="password"
                      type="password"
                      [(ngModel)]="userclass.password"
                      name="password"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                </div>
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Confirmer password </label>
                    <input
                      class=" form-control"
                      placeholder="confirmer password"
                      type="password"
                      formControlName="confirmpassword"

                      [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors}"
                    />
                    <div *ngIf="submitted && f.confirmpassword.errors"  class="invalid-feedback">
                      <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                    </div>
                    <div *ngIf="addForm.hasError('notSame', 'password')" class="invalid-feedback">
                      <div *ngIf="f.confirmpassword.errors.required">Error in Confirm Password</div>
                    </div>
                    <mat-error *ngIf="addForm.hasError('notSame')">
                      Passwords do not match
                    </mat-error>
                  </div>
                </div>


              <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit">Save</button>
              </div>
              </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
