
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Table User</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table tablesorter">
              <thead class=" text-primary">
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody *ngIf="user?.length != 0">
              <tr *ngFor="let us of user">
                <td>{{ us.name }}</td>
                <td>{{ us.lastName }}</td>
                <td>{{ us.email }}</td>
                <td>
                  <button class=" btn btn-link"  [id]="us.id " type="button" ><i class=" tim-icons icon-pencil"></i></button>
                  <button class=" btn btn-link"  type="button" ><i class=" tim-icons icon-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
